.app-header {
    text-align: center;
}

.container {
  margin: 0 auto;
  width: 900px;
  height: 400px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14), 
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center
}

#source-grid {
    border: 1px solid rgb(199, 196, 196);
    height: 300px;
    max-height: 300px;
    width: 300px;
    overflow-y: auto;
}

.btn-container {
    height: auto;
    width: 100px;
    margin: 0 30px;
}

#dest-grid {
    border: 1px solid rgb(199, 196, 196);
    height: 300px;
    max-height: 300px;
    width: 300px;
    overflow-y: auto;
}

button {
    width: 100px;
    margin: 10px 0;
    color: #ffff;
    height: 30px;
    border-color: rgb(56, 179, 228);
    border-style: unset;
    background-color: rgb(56, 179, 228);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .container {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #source-grid {
        margin-top: 30px;
    }

    .btn-container {
        width: unset;
        margin: 20px;
    }

    #dest-grid {
        margin-bottom: 30px;
    }

    button {
        margin: 0 10px;
    }
}

.agent {
    margin-left: 10px;
}

.agent > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-top: -15px;
}

.agent > p {
    padding-left: 60px;
}
